<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
              <img src="./images/menu-btn.svg" alt="Menu button" />  
            </span>
        </div>
    </header>

    <main>
        <section class="mobile-block">
            <div class="mobile-block__header is-dark">
                Категории
            </div>
            <div class="container">
                <div class="category-row">
                    <div class="category-item">
                        <img src="images/categories/Frame 1.png" alt="game" class="category-item__img" />
                        <span class="category-item__tittle">Игровые консоли</span>                    
                    </div>
                    <div class="category-item">
                        <img src="images/categories/Frame 2.png" alt="hose" class="category-item__img" />
                        <span class="category-item__tittle">Бытовая техника</span>                    
                    </div>
                    <div class="category-item">
                        <img src="images/categories/Frame 4.png" alt="pc" class="category-item__img" />
                        <span class="category-item__tittle">ПК и ноутбуки</span>                    
                    </div>
                    <div class="category-item">
                        <img src="images/categories/Frame 3.png" alt="audio" class="category-item__img" />
                        <span class="category-item__tittle">Аудио</span>                    
                    </div>
                    <div class="category-item">
                        <img src="images/categories/Frame 5.png" alt="auto" class="category-item__img" />
                        <span class="category-item__tittle">Транспорт</span>                    
                    </div>
                    <div class="category-item">
                        <img src="images/categories/Frame 6.png" alt="TV" class="category-item__img" />
                        <span class="category-item__tittle">Телевизоры</span>                    
                    </div>    
                </div>
                <div class="game-consoles">
                    <h3 class="cart">Корзина</h3>
                    <div class="market-card">
                        <div class="container">
                            <img src="images/Frame 9.png" alt="PS5-Pro-img">
                            <h3 class="market-card__title">PlayStation 5 Pro</h3>
                            <span class="market-card__category">Игровые приставки</span>
                            <span class="market-card__price">399 990₸</span>
                        </div>
                    </div>
                    <div class="market-card">
                        <div class="container">
                            <img src="images/Frame 9.png" alt="PS5-Pro-img">
                            <h3 class="market-card__title">PlayStation 5 Pro</h3>
                            <span class="market-card__category">Игровые приставки</span>
                            <span class="market-card__price">399 990₸</span>
                        </div>
                    </div>
                    <div class="market-card">
                        <div class="container">
                            <img src="images/Frame 9.png" alt="PS5-Pro-img">
                            <h3 class="market-card__title">PlayStation 5 Pro</h3>
                            <span class="market-card__category">Игровые приставки</span>
                            <span class="market-card__price">399 990₸</span>
                        </div>
                    </div>
            </div>
        </section>
    </main>

</body>
</html>