<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
              <img src="./images/menu-btn.svg" alt="Menu button" />  
            </span>
        </div>
    </header>

    <main>
        <section class="mobile-block">
            <div class="back-button">
                <div class="container">
                    Вернуться назад
                </div>
            </div>
            <div class="container">
                <div class="product-detail-block">
                    <img src="images/PS5-Pro.webp" alt="name">
                    <h3 class="product-card__title">PlayStation 5 Pro</h3>
                    <span class="product-card__category">Игровые приставки</span>
                    <span class="product-card__price">Цена: 399 990 ₸</span>
                    <p class="text">
                        PlayStation 5 Pro — это мощная игровая консоль нового поколения, которая предлагает непревзойденный игровой опыт. С улучшенной графикой и повышенной производительностью, PS5 Pro поддерживает разрешение до 8K и технологии трассировки лучей, что делает игры более реалистичными и захватывающими.     
                    </p>
                    <button class="buy-button">Оформить сейчас</button>
                </div>
            </div>
        </section>
    </main>

</body>
</html>